# Merge clean data

In [2]:
# Import libraries
import pandas as pd
import numpy as np

In [3]:
df_ex = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_0/ukb46359_clean_external.csv',delimiter="\,").sort_values(by=['f.eid']).reset_index(drop=True)
df_in = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_0/ukb46359_clean_internal.csv',delimiter="\,").sort_values(by=['f.eid']).reset_index(drop=True)
df_ec = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_0/ukb46359_clean_earlycause.csv',delimiter="\,").sort_values(by=['f.eid']).reset_index(drop=True)
df_new = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_0/ukb669914_clean.csv',delimiter="\,").sort_values(by=['f.eid']).reset_index(drop=True)

/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [4]:
df_new = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_0/ukb669914_clean.csv',delimiter="\,").sort_values(by=['f.eid']).reset_index(drop=True)

In [5]:
df_ex

,f.eid,Sex,Waist_circumference,Hip_circumference,Assessment_centre,Age_full_education,Sleep_duration,Nap_during_day,Sleeplessness,Daytime_dozing/sleeping,...,Rent_private,Pay_rent_mortgage,Rent_free,Paid_employment,Retired,Looking_after_home,Unable_to_work,Unemployed,Unpaid_work,Student
0,1000010,0.0,74.0,102.0,11018.0,NaN,7.0,2.0,3.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0
1,1000028,1.0,120.0,113.0,11020.0,16.0,9.0,2.0,2.0,0.0,...,0.0,0.0,0.0,1,1,0,0,0,0,0
2,1000034,0.0,66.0,88.0,11016.0,16.0,5.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0,1,0,0,0,0,0
3,1000045,1.0,110.0,117.0,11018.0,18.0,7.0,2.0,1.0,0.0,...,0.0,0.0,0.0,0,1,0,0,0,0,0
4,1000052,1.0,94.0,100.0,11010.0,NaN,6.0,2.0,3.0,0.0,...,0.0,0.0,0.0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502476,6024770,1.0,110.0,113.0,11011.0,16.0,7.0,2.0,2.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0
502477,6024784,0.0,102.0,110.0,11011.0,16.0,6.0,2.0,3.0,0.0,...,0.0,0.0,0.0,0,1,0,0,0,0,0
502478,6024795,1.0,99.0,98.0,11009.0,100.0,7.0,2.0,2.0,1.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
502479,6024804,0.0,86.0,111.0,11017.0,NaN,6.0,1.0,3.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0
502480,6024818,1.0,83.0,98.0,11020.0,16.0,12.0,2.0,3.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0

In [6]:
df_in

,f.eid,APOA,APOB,Cholesterol,CRP,Glucose,HbA1c,HDL,IGF_1,Testosterone,Triglyceride
0,1000010,1.593,1.211,6.477,0.34,5.622,NaN,1.706,26.339,0.508,0.977
1,1000028,1.390,1.019,5.512,3.94,5.052,40.9,1.173,10.701,13.088,2.358
2,1000034,2.005,1.097,7.079,0.55,5.310,40.0,2.490,10.693,0.515,0.655
3,1000045,1.474,0.923,5.028,0.45,4.449,37.3,1.169,25.317,4.675,3.108
4,1000052,2.149,1.443,7.958,0.75,4.616,32.2,2.053,26.523,20.162,1.173
...,...,...,...,...,...,...,...,...,...,...,...
502476,6024770,1.345,1.137,5.754,1.45,4.509,28.0,1.026,20.777,17.137,3.820
502477,6024784,1.365,0.898,4.664,2.75,5.673,33.2,1.159,23.647,0.725,2.134
502478,6024795,1.241,0.985,5.184,0.85,4.851,31.5,1.043,22.507,12.040,2.547
502479,6024804,1.669,1.063,6.827,3.57,5.506,45.7,1.589,30.498,NaN,2.090
502480,6024818,NaN,NaN,NaN,NaN,NaN,36.4,NaN,NaN,NaN,NaN

In [7]:
df_ec

,f.eid,Breastfed_baby,Adopted_child,Maternal_smoking_around_birth,Hated_family_member_child,Abused_family_child,Felt_loved_child,Sexually_molested_child,Someone_take_doctor_child
0,1000010,0.0,0.0,NaN,2.0,2.0,2.0,0.0,4.0
1,1000028,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,1000034,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,1000045,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1000052,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
502476,6024770,NaN,0.0,0.0,0.0,0.0,4.0,0.0,4.0
502477,6024784,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
502478,6024795,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
502479,6024804,1.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0
502480,6024818,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN

In [8]:
df_new

,f.eid,Standing_height,Fasting_time,Number_cancers,Number_operation,Job_walking_standing,Job_heavy_manual,Job_involves_shift,Frequency_friend_family_visits,Time_outdoors_summer,...,Parkinson_disease_S,Alzheimer_disease/dementia_S,Diabetes_S,High_blood_pressure_S,Chronic_bronchitis/emphysema_S,Breast_cancer_S,Bowel_cancer_S,Lung_cancer_S,Stroke_S,Heart_disease_S
0,1000010,169.0,4.0,1.0,4.0,1.0,1.0,1.0,3.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000028,183.0,4.0,0.0,1.0,1.0,1.0,1.0,2.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000034,163.0,5.0,1.0,0.0,NaN,NaN,NaN,2.0,5.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000045,178.0,3.0,0.0,1.0,NaN,NaN,NaN,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,1000052,177.0,2.0,0.0,1.0,NaN,NaN,NaN,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502391,6024795,179.0,2.0,0.0,0.0,NaN,NaN,NaN,7.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
502392,6024804,170.0,6.0,0.0,0.0,3.0,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
502393,6024818,168.0,3.0,0.0,2.0,1.0,1.0,4.0,4.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502394,6024820,NaN,5.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502395,6024833,NaN,7.0,0.0,0.0,2.0,1.0,1.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df_ec = df_ec.loc[df_ec['f.eid'].isin(df_new['f.eid'])].sort_values(by=['f.eid']).reset_index(drop=True)
df_ex = df_ex.loc[df_ex['f.eid'].isin(df_new['f.eid'])].sort_values(by=['f.eid']).reset_index(drop=True)
df_in = df_in.loc[df_in['f.eid'].isin(df_new['f.eid'])].sort_values(by=['f.eid']).reset_index(drop=True)
df_new = df_new.loc[df_new['f.eid'].isin(df_ec['f.eid'])].sort_values(by=['f.eid']).reset_index(drop=True)

In [10]:
df_ec.shape, df_ex.shape, df_in.shape, df_new.shape

((502394, 9), (502394, 118), (502394, 11), (502394, 122))

In [11]:
del df_ex['f.eid']
del df_in['f.eid']
del df_new['f.eid']

In [12]:
df_all = pd.concat([df_ec,df_ex,df_new,df_in],axis=1)
df_ext = pd.concat([df_ec,df_ex,df_new],axis=1)

In [34]:
#word_to_find = 'type'
#strings_with_word = [string for string in list(df_all.columns) if word_to_find in string]

In [35]:
df_all.to_csv(r'/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_0/all_exposome_0.csv', index = False, header=True)
df_ext.to_csv(r'/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_0/ext_exposome_0.csv', index = False, header=True)

In [13]:
df_all

,f.eid,Breastfed_baby,Adopted_child,Maternal_smoking_around_birth,Hated_family_member_child,Abused_family_child,Felt_loved_child,Sexually_molested_child,Someone_take_doctor_child,Sex,...,APOA,APOB,Cholesterol,CRP,Glucose,HbA1c,HDL,IGF_1,Testosterone,Triglyceride
0,1000010,0.0,0.0,NaN,2.0,2.0,2.0,0.0,4.0,0.0,...,1.593,1.211,6.477,0.34,5.622,NaN,1.706,26.339,0.508,0.977
1,1000028,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,...,1.390,1.019,5.512,3.94,5.052,40.9,1.173,10.701,13.088,2.358
2,1000034,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,2.005,1.097,7.079,0.55,5.310,40.0,2.490,10.693,0.515,0.655
3,1000045,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,1.474,0.923,5.028,0.45,4.449,37.3,1.169,25.317,4.675,3.108
4,1000052,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,...,2.149,1.443,7.958,0.75,4.616,32.2,2.053,26.523,20.162,1.173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502389,6024770,NaN,0.0,0.0,0.0,0.0,4.0,0.0,4.0,1.0,...,1.345,1.137,5.754,1.45,4.509,28.0,1.026,20.777,17.137,3.820
502390,6024784,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,1.365,0.898,4.664,2.75,5.673,33.2,1.159,23.647,0.725,2.134
502391,6024795,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,...,1.241,0.985,5.184,0.85,4.851,31.5,1.043,22.507,12.040,2.547
502392,6024804,1.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,...,1.669,1.063,6.827,3.57,5.506,45.7,1.589,30.498,NaN,2.090
502393,6024818,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,36.4,NaN,NaN,NaN,NaN

In [14]:
df_ext

,f.eid,Breastfed_baby,Adopted_child,Maternal_smoking_around_birth,Hated_family_member_child,Abused_family_child,Felt_loved_child,Sexually_molested_child,Someone_take_doctor_child,Sex,...,Parkinson_disease_S,Alzheimer_disease/dementia_S,Diabetes_S,High_blood_pressure_S,Chronic_bronchitis/emphysema_S,Breast_cancer_S,Bowel_cancer_S,Lung_cancer_S,Stroke_S,Heart_disease_S
0,1000010,0.0,0.0,NaN,2.0,2.0,2.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000028,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000034,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000045,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,1000052,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502389,6024770,NaN,0.0,0.0,0.0,0.0,4.0,0.0,4.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
502390,6024784,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
502391,6024795,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
502392,6024804,1.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
502393,6024818,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0